html, body, #root, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scroll on body */
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 44, 52);
}

/* Header (top navigation) */
.svg-container {
  width: 100%;
  height: 80px;
  background-color: rgb(40, 44, 52);
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
}

.svg-container > img {
  max-width: 256px;
  max-height: 64px;
}

.nav-links {
  list-style: none;
  display: flex;
  background-color: #3c3f41;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 80px;
  position: fixed;
  z-index: 100;
  border-top: 1px solid #ff69b4;
  border-bottom: 1px solid #2a

3439;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #00bfff;
  text-decoration: none;
}

.nav-links a.nav-item-active {
  color: #ff69b4;
  font-weight: bold;
}

.nav-links a.nav-item-active:hover {
  color: #00bfff;
}

/* Main content area */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  margin-top: 140px; /* Adjust to fit below the fixed header */
  overflow-y: auto; /* Allow vertical scroll */
}

/* Center navigation buttons */
.center-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200; /* Ensure it appears above other content */
}

.center-nav.left {
  left: 10px; /* Adjust as necessary */
}

.center-nav.right {
  right: 10px; /* Adjust as necessary */
}

/* Charts container */
.chart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.main-chart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-chart {
  flex: 0 0 100px; /* Fixed height for the overview chart */
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 100%;
  height: 100%;
}

/* Modal window */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  min-height: 300px;
  max-height: 400px;
  z-index: 1001;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Footer (bottom navigation) */
.footer {
  width: 100%;
  background-color: #3c3f41;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-top: 1px solid #ff69b4;
}