@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  line-height: 2.0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.overlay-button {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: relative;
  font-weight: bold;
  background-color: #4a4a4a;
  border: 1px solid transparent;
  outline: none;
}

.overlay-button:hover {
  border-color: #646cff;
  color: #00bfff;
}

.active-button {
  border-color: #646cff;
  background-color: #5a5a5a;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  z-index: 1000;
  white-space: nowrap;
  transform: translateY(-100%);
}

.sliding-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  transition: height 0.5s ease-out;
  z-index: 20;
}

.sliding-panel.active {
  height: 100%;
}

.panel-content {
  padding: 20px;
  margin: 85px;
  color: black;
}

.panel-content h2 {
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.panel-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

button {
  border-radius: 0px;
  border: 1px solid transparent;
  padding: 0.6em 0.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  cursor: pointer;
}

.main-content {
  margin-top: 110px;
  overflow-y: auto;
}

.about-content {
  margin-top: 110px;
  overflow-y: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.charts-container, .main-content, .about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-content {
  display: flex;
  flex-direction: column;
  line-height: 2.0;
  align-items: start;
  justify-content: center;
}

.about-content p {
  padding: 5px;
}

.about-content h2 {
  font-weight: bold;
  font-size: x-large;
}

.about-content h3 {
  font-weight: bold;
  font-size: large;
}

.about-title {
  margin-top: 20px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.transparent-canvas {
  background-color: transparent;
}

#default-carousel > div {
  min-height: 690px;
}

#default-carousel > div.second-carousel-item {
  min-height: 32px;
  max-height: 32px;
}

.footer {
  width: 100%;
  background-color: #3c3f41;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  /*border-top: 1px solid #ff69b4;*/
}

.ticker-scroller {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  height: 80px; /* Adjust the height */
  overflow: hidden; /* Ensure text stays within the div */
  color: white; /* Ensure text is visible against the background */
}

.marquee-container {
  white-space: nowrap;
}


.chart-and-annotations {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
}

.chart-container {
    flex: 1;
    transition: flex 0.3s ease; /* Animation for sliding effect */
}

.annotation-container {
    background-color: #3c3f41; /* Same gray as the sidebar navigation arrow boxes */
    color: white; /* Text color for the annotations section */
    transition: width 0.3s ease; /* Animation for sliding effect */
    width: 0;
    flex: 0;
    padding: 0;
    overflow: hidden;
}

.annotation-container.open {
    width: 400px; /* Adjust to desired width */
    flex: none;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
    height: calc(100% - 20px); /* Adjust to fit within container */
}

.annotation-container > h2 {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #f5f5f5;
    font-size: 14px;
    gap: 5px;
}
/* AnnotationButton.css */
.annotation-button {
  background-color: #e0e0e0; /* Default color */
  color: #000;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  text-align: center;
}

.annotation-button.active {
  background-color: #888; /* Active state color */
  color: #fff;
}

.annotation-button.disabled {
  background-color: #e0e0e0; /* Ensure same as default or desired disabled color */
  color: #a0a0a0; /* Gray out the text */
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none; /* Disable hover and click events */
}

.annotation-button.disabled:hover {
  background-color: #e0e0e0; /* No change on hover */
}

.feedback-button {
  margin: 5px;
    padding: 5px;
    font-size: 14px;
    background-color: #3c3f41;
    color: #ff69b4; /* Rosy color */
    flex: 1;
    cursor: pointer;
    border: none;
    position: relative; /* Relative positioning for the arrow */
    display: flex;
    align-items: center;
    justify-content: center;
}


.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #ff69b4; /* Rosy color */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.main-content-c1-flex {
  display: flex;
}

.main-content-c1-flex-col {
  flex-direction: column;
}

.main-content-c1-p-6 {
  padding: 1.5rem;
}

.main-content-c1-m-4 {
  margin: 1rem;
}

.main-content-c1-overflow-y-scroll {
  overflow-y: scroll;
}

.main-content-c1-max-h-full {
  max-height: 100%;
}

.main-content-c1-bg-white {
  background-color: white;
}

.main-content-c1-rounded-lg {
  border-radius: 0.5rem;
}

.main-content-c1-shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content-c1-text-3xl {
  font-size: 1.875rem;
}

.main-content-c1-font-bold {
  font-weight: bold;
}

.main-content-c1-mb-4 {
  margin-bottom: 1rem;
}

.main-content-c1-text-gray-800 {
  color: #2d3748;
}

.main-content-c1-text-base {
  font-size: 1rem;
}

.main-content-c1-leading-relaxed {
  line-height: 1.625;
}

.main-content-c1-text-gray-700 {
  color: #4a5568;
}

.main-content-c1-text-2xl {
  font-size: 1.5rem;
}

.main-content-c1-font-semibold {
  font-weight: 600;
}

.main-content-c1-mb-2 {
  margin-bottom: 0.5rem;
}

.main-content-c1-text-blue-600 {
  color: #3182ce;
}

.main-content-c1-underline {
  text-decoration: underline;
}

.main-content-c1-list {
  list-style-type: none;
  padding-left: 30px;
}

.main-content-c1-mr-2 {
  margin-right: 0.5rem;
}

.main-content-c1-mb-2 {
  margin-bottom: 0.5rem;
}

.main-content-c1-items-center {
  align-items: center;
}



/*.swiper-slide {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/
/*}*/

/*!*.scrollable-content {*!*/
/*!*    max-height: 300px; !* Adjust as needed *!*!*/
/*!*    overflow-y: auto;*!*/
/*!*}*!*/
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  height: 80vh;
  min-height: 80vh;
}
/*swiper-slide:nth-child(1) {*/
/*    background-color: rgb(15 118 110);*/
/*}*/

.swiper-container {
      width: 100%;
      height: 100vh;
    }

.scrollable-content {
  height: 80vh;
  overflow: hidden scroll;
  padding: 20px;
}
    /* className="bg-white" style={{ minHeight: '80vh', backgroundColor: '#ffffff' }} */